.emptylist {
  display: flex;
  height: 100%;
  width: 280px;
  margin: 0.5rem 0.1rem;
  padding: 0.2rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.completed_todos {
  width: 280px;
  margin: 0.5rem 0.1rem;
  padding: 0.2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
