.todo {
  margin: 5px 2px;
  height: 2rem;
  width: 70%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #a89ee0;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 3px;
  color: white;
  font-weight: bold;

  box-shadow: 3px 3px #888888;
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  background-color: black;
}
.title {
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  margin-left: 10px;
}

i {
  color: red;
  font-size: larger;
  font-weight: bolder;
  float: right;
  padding-right: 10px;
  cursor: pointer;
}
