.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.App h1 {
  text-align: center;
  color: white;
  width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  width: 80%;
  padding-bottom: 1rem;

  justify-content: space-between;
}

.leftWidget {
  min-width: 350px;
  margin-left: 3rem;
  margin-top: 4rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
}

.rightWidget {
  width: 50%;
  margin: 1rem;
}

@media only screen and (max-width: 1386px) {
  .main {
    flex-direction: column;
    position: relative;
    top: 4rem;
    min-width: 873px;
    justify-content: space-evenly;
    margin-bottom: 9rem;
  }

  .leftWidget {
    min-width: 350px;
    margin-left: 3rem;
    margin-top: 0rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .rightWidget {
    min-width: 300px;
  }

  .App {
    min-width: 700px;
  }
}
/* add empty validation to label name */
